-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

aiohttp
aiohttp-retry
astropy
h5py
katdal
katpoint
katsdptelstate
numba
numpy
requests
scipy
strict-rfc3339
typing-extensions
